*				@hozlucas28

/src/			@hozlucas28 @lautarocasas @maifarias @ValentinMassa

/diagram.json	@hozlucas28 @lautarocasas @maifarias @ValentinMassa
/platform.ini	@hozlucas28 @lautarocasas @maifarias @ValentinMassa
/wokwi.toml		@hozlucas28 @lautarocasas @maifarias @ValentinMassa
