
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

# Settings
.vscode/*
!.vscode/tasks.json
!.vscode/*.code-snippets

# Local history
.history
.ionide



# ---------------------------------------------------------------------------- #
#                                  PLATFORM IO                                 #
# ---------------------------------------------------------------------------- #

.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio



# ---------------------------------------------------------------------------- #
#                                      GIT                                     #
# ---------------------------------------------------------------------------- #

# Backups
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt



# ---------------------------------------------------------------------------- #
#                                    OTHERS                                    #
# ---------------------------------------------------------------------------- #

# MacOS specific files
.DS_Store
