
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

# Settings
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets

# Local history
.history
.ionide



# ---------------------------------------------------------------------------- #
#                                      GIT                                     #
# ---------------------------------------------------------------------------- #

# Backups
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt



# ---------------------------------------------------------------------------- #
#                                    OTHERS                                    #
# ---------------------------------------------------------------------------- #

# MacOS specific files
.DS_Store
